.trello-github-plugin {
  background-image: url('https://d78fikflryjgj.cloudfront.net/images/services/8cab38550d1f23032facde191031d024/github.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 5px 5px;
}

.trello-github-plugin *,
.trello-github-plugin *:before,
.trello-github-plugin *:after {
  box-sizing: border-box;
}

.trello-pull-request-title {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.1rem;
}

.trello-pull-request-slug {
  color: #8c8c8c;
  font-size: .9rem;
  line-height: 1rem;
}

.trello-pull-request-changes {
  text-align: right;
}

.trello-github-plugin-pull-request {
  border-bottom: 1px solid #d6dadc;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.trello-github-plugin-pull-request:last-child {
  border-bottom: 0;
}

.trello-pull-request-additions,
.trello-pull-request-deletions {
  font-weight: bold;
}

.trello-pull-request-additions {
  color: green;
}

.trello-pull-request-deletions {
  color: red;
}

.trello-user-avatar {
  display: inline-block;
  height: 25px;
  width: 25px;
}

.trello-merge-icon {
  fill: currentColor;
}

.trello-merge-icon-clean {
  color: #0a0;
}

.trello-merge-icon-conflict {
  color: #a00;
}

.trello-merge-icon-merged {
  color: #a0a;
}

.trello-merge-icon-unknown {
  color: #aaa;
}

.trello-pull-request-opened-by,
.trello-pull-request-merged-by,
.trello-pull-request-closed-at {
  font-size: .9rem;
  line-height: 1.2rem;
}
