*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  color: #444;
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

main {
  flex: 1;
}

footer {
  font-size: .75rem;
  height: 1.5rem;
  text-align: center;
}

footer p {
  margin: 0;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
}

form {
  max-width: 80vw;
}

label {
  display: block;
  margin-bottom: 2rem;
}

input {
  border-radius: .15rem;
  border: 1px solid #ddd;
  color: #444;
  display: block;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  padding: .45rem .75rem;
  width: 100%;
}

small {
  font-size: .75rem;
}
